<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->  
<head>
    <title>Ben Gordon Assignment 1</title>
    <!-- Meta -->
    <meta charset="utf-8">
</head> 

<body >
    <p>Top 1000 Foods Better than Vegemite:</p>
    <form>
<ul>Acai berry</ul>
<ul>Adzuki bean</ul>
<ul>Almonds</ul>
<ul>Amaranth</ul>
<ul>Anchovy</ul>
<ul>Apple- red delicious, fuji, ida red, granny smith, pink lady, macintosh, golden delicious, honey crisp, gala, jonagold</ul>
<ul>Artichoke- green globe</ul>
<ul>Arugula</ul>
<ul>Asparagus – Jersey Knight, Martha Washington</ul>
<ul>Avocado- Haas</ul>
<ul>Banana- red ecuador, standard yellow cavendish</ul>
<ul>Basil- Genovese</ul>
<ul>Basswood</ul>
<ul>Bean- green bean, white bean, pinto bean, black bean, kidney bean, red bean</ul>
<ul>Beef</ul>
<ul>Beets- yellow, detroit red, bulls blood</ul>
<ul>Bilberry</ul>
<ul>Bitter melon</ul>
<ul>Blackberry</ul>
<ul>Black walnut</ul>
<ul>Blueberry- Northland, Atlanta, Bluetta, blue crop, herbert, blue ray</ul>
<ul>Bok choy</ul>
<ul>Bonefish</ul>
<ul>Broccoli</ul>
<ul>Buckwheat</ul>
<ul>Burdock- gobo</ul>
<ul>Butternut squash</ul>
<ul>Cabbage- red, danish ballhead, greyhound, kalibos, early jersey wakefield</ul>
<ul>Calabash gourd</ul>
<ul>Canola</ul>
<ul>Cantaloupe</ul>
<ul>Cardamom- black</ul>
<ul>Carob</ul>
<ul>Carrots- orange, purple, yellow, white, cosmic purple</ul>
<ul>Cashew</ul>
<ul>Cattail roots and shoots</ul>
<ul>Cauliflower</ul>
<ul>Cayenne pepper</ul>
<ul>Celery</ul>
<ul>Chamomile</ul>
<ul>Chard- rhubarb, bright lights, vulcan</ul>
<ul>Cheese- cheddar, mozzarella, monterray jack, parmesan, goat cheese, feta</ul>
<ul>Cherimoya</ul>
<ul>Cherry- black, morello, montmorency, </ul>
<ul>Chia</ul>
<ul>Chicken</ul>
<ul>Chickweed</ul>
<ul>Chicory</ul>
<ul>Chili pepper- red, green</ul>
<ul>Chinese cabbage- nappa, michili</ul>
<ul>Chinese long bean- thai soldier</ul>
<ul>Chives</ul>
<ul>Chocolate- cacao nibs, cocoa powder, chocolate chips/bar</ul>
<ul>Choke cherry</ul>
<ul>Choy sum</ul>
<ul>Cilantro</ul>
<ul>Cinnamon- ceylon</ul>
<ul>Clove</ul>
<ul>Coco Malanga</ul>
<ul>Coconut</ul>
<ul>Codfish</ul>
<ul>Collards</ul>
<ul>Comfrey- Russian</ul>
<ul>Corn- yellow flour corn, yellow popcorn, yellow sweet corn, purple popcorn, red popcorn</ul>
<ul>Cranberry</ul>
<ul>Cucumber- straight eight, </ul>
<ul>Currant- black, red</ul>
<ul>Cumin</ul>
<ul>Dandelion- greens, roots</ul>
<ul>Day lily- roots and buds</ul>
<ul>Dragon fruit- red dragon fruit, white dragon fruit</ul>
<ul>Dill</ul>
<ul>Eggs-chicken, duck</ul>
<ul>Elder- berry</ul>
<ul>Eleuthero</ul>
<ul>Enoki mushrooms</ul>
<ul>Evening Primrose</ul>
<ul>Fennel- brown, florence</ul>
<ul>Fenugreek</ul>
<ul>Fig- california mission fig</ul>
<ul>Flax- brown, golden</ul>
<ul>Gai laan</ul>
<ul>Garbanzo beans</ul>
<ul>Garlic</ul>
<ul>Garlic mustard</ul>
<ul>Ginger</ul>
<ul>Gingko</ul>
<ul>Goji berry</ul>
<ul>Gooseberry- pixwell, invicta</ul>
<ul>Grapefruit- ruby red, florida white</ul>
<ul>Grapes- raisins(thompson black), juice(concord), red table grapes, merlot grapes, green table grapes, sweet sapphire grapes, fox grape</ul>
<ul>Ground mallow</ul>
<ul>Hibiscus</ul>
<ul>Highbush cranberry</ul>
<ul>Honey</ul>
<ul>Honeybush (rooibos)</ul>
<ul>Honeydew melon- green</ul>
<ul>Horsemint/wild oregano</ul>
<ul>Horseradish</ul>
<ul>Hyssop</ul>
<ul>Jack fruit</ul>
<ul>Jerusalem artichoke</ul>
<ul>Jicama</ul>
<ul>Kale- red, lacinato, green</ul>
<ul>Kelp</ul>
<ul>Kiwi</ul>
<ul>Kohlrabi- green</ul>
<ul>Kombucha</ul>
<ul>Lambsquarters</ul>
<ul>Leeks</ul>
<ul>Lemon- Meyer</ul>
<ul>Lemon balm</ul>
<ul>Lemon grass</ul>
<ul>Lemon verbena</ul>
<ul>Lentils- red split lentils, black beluga lentils</ul>
<ul>Lettuce- butter, green leaf, oak leaf, red leaf, romaine, red sails, iceberg, black seeded simpson, little gem, rouge dhiver, green ice, bronze beauty</ul>
<ul>Licorice root</ul>
<ul>Lilac- light purple</ul>
<ul>Lime</ul>
<ul>Longan Berries</ul>
<ul>Lotus</ul>
<ul>Lychee</ul>
<ul>Mandarin- satsuma, california mandarins</ul>
<ul>Mango- atalufo, kent</ul>
<ul>Mangosteen</ul>
<ul>Maple (syrup)</ul>
<ul>Maradol papaya- caribbean red</ul>
<ul>Millet</ul>
<ul>Mint- orange mint, </ul>
<ul>Mizuna- purple streaks, </ul>
<ul>Mo qua- winter melon</ul>
<ul>Morel mushroom</ul>
<ul>Mustard- seed, small wild mustard, hoary alyssu mustard</ul>
<ul>Nira (garlic chives)</ul>
<ul>Nectarine- white</ul>
<ul>Nettle</ul>
<ul>Noni</ul>
<ul>Nori seaweed</ul>
<ul>Nutmeg</ul>
<ul>Nutritional yeast</ul>
<ul>Oats</ul>
<ul>Octopus</ul>
<ul>Olive- black</ul>
<ul>Onion- green onion, yellow onion, red</ul>
<ul>Orange- navel, valencia, blood, cara cara</ul>
<ul>Oregano</ul>
<ul>Oyster mushroom- yellow</ul>
<ul>Panax ginseng</ul>
<ul>Parsley- italian flat leaf, curly leaf</ul>
<ul>Peaches</ul>
<ul>Peanuts</ul>
<ul>Pear- green anjou, red anjou, bartlett</ul>
<ul>Peas- green, yellow, sugar snap, cascadia snow pea, avalanche snow pea</ul>
<ul>Pecan</ul>
<ul>Pepino melon</ul>
<ul>Pepper (black)</ul>
<ul>Peppermint</ul>
<ul>Persimmon- hachiya</ul>
<ul>Pineapple</ul>
<ul>Pine nuts</ul>
<ul>Pistachio</ul>
<ul>Plum- red, stanley</ul>
<ul>Pomegranate</ul>
<ul>Pomelo</ul>
<ul>Porcini mushrooms</ul>
<ul>Pork</ul>
<ul>Portobella mushroom</ul>
<ul>Potatoes -blue, purple, red, russet, yellow</ul>
<ul>Pumpkin- sugar pie</ul>
<ul>queen annes lace</ul>
<ul>Quinoa</ul>
<ul>Radicchio</ul>
<ul>Radish- daikon, cherry belle, French breakfast,</ul>
<ul>Raspberry- berry, leaf tea, heritage</ul>
<ul>Rhubarb- canada red, Victoria</ul>
<ul>Rice- basmati long grain brown rice, white sushi rice(jasmine), white long grain rice, texmati white rice, thai red rice</ul>
<ul>Rose</ul>
<ul>Safflower</ul>
<ul>Salmon</ul>
<ul>Sarsaparilla</ul>
<ul>Sclopit/bladder campion</ul>
<ul>Seabuckthorn</ul>
<ul>Serrano pepper</ul>
<ul>Serviceberry</ul>
<ul>Sesame</ul>
<ul>Shallots- red shallots</ul>
<ul>Shiitake mushroom</ul>
<ul>Sorghum</ul>
<ul>Soy</ul>
<ul>Spaghetti squash</ul>
<ul>Spearamint</ul>
<ul>Spinach- bloomsdale long standing, giant noble, America, goliath</ul>
<ul>Star anise</ul>
<ul>Strawberry- honeoye, monterrey</ul>
<ul>Sugar cane</ul>
<ul>Sumac- staghorn</ul>
<ul>Sunflower- seeds</ul>
<ul>Sweet peppers- green, banana, red, yellow, orange, paprika</ul>
<ul>Sweet potato- orange, red, japanese</ul>
<ul>Tamarillo</ul>
<ul>Tamarind</ul>
<ul>Tapioca</ul>
<ul>Taro</ul>
<ul>Tatsoi</ul>
<ul>Tea- green, black</ul>
<ul>Thistle- bull thistle root</ul>
<ul>Tomato- red roma, grape, early girl, yellow pear</ul>
<ul>Trout lily</ul>
<ul>Tuna</ul>
<ul>Turkey</ul>
<ul>Turmeric</ul>
<ul>Unagi eel</ul>
<ul>Vanilla</ul>
<ul>Venison</ul>
<ul>Violets- purple, white with purple</ul>
<ul>Wakame</ul>
<ul>Walnut- English</ul>
<ul>Watercress</ul>
<ul>Watermelon</ul>
<ul>Watermint</ul>
<ul>Wild blackberry</ul>
<ul>Wild black raspberry</ul>
<ul>Wild blueberry</ul>
<ul>Wild leeks</ul>
<ul>Wild raspberry</ul>
<ul>Wild rice</ul>
<ul>Wild strawberry</ul>
<ul>Yarrow</ul>
<ul>Yellow straightneck squash</ul>
<ul>Yerba mate</ul>
<ul>Yo choy sum</ul>
<ul>Yuca (cassava)</ul>
<ul>Yumberry</ul>
    <ul>Zucchini- green, black beauty</ul> 
</form>
</body>
</html> 

